name: Review Buddy
on: [pull_request]
permissions:
    pull-requests: write
    contents: read
jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nexoral/ReviewBuddy@v1.0
        with:
          github_token: ${{ secrets.GIT_TOKEN }}
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}