name: Review Buddy
on: [pull_request]
permissions:
    pull-requests: write
    contents: read
jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nexoral/ReviewBuddy@v1.2
        with:
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}