name: Review Buddy
on:
  pull_request:
    types: [opened, synchronize]
  issue_comment:
    types: [created]
permissions:
    pull-requests: write
    contents: read
jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: nexoral/ReviewBuddy@main
        with:
          adapter: ${{ secrets.ADAPTER }}
          model: ${{ secrets.MODEL }}
          openrouter_api_key: ${{ secrets.OPENROUTER_API_KEY }}